.formCont {
  margin-top: 20vh;
  background: #dbdbdb;
  width: 80vw;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.titleInput {
  font-size: clamp(1rem, 4vw, 2rem);
  margin: 5vh 0px;
}
.input {
  all: unset;
  background-color: #a5a3a3;

  width: 95%;
  height: fit-content;
  min-height: 20vh;
  padding: 20px;
  border-radius: 10px;
  word-break: break-all;
  font-size: clamp(1rem, 4vw, 2rem);
}

.input::placeholder {
  position: absolute;
  top: 20px;
  left: 20px;
}
.submit {
  all: unset;
  text-align: right;
  width: fit-content;
  font-size: clamp(1rem, 5vw, 3rem);
  position: absolute;
  right: 1%;
  bottom: 1%;
  cursor: pointer;
}
.submit:hover {
  background-color: #858383;
}
.inputFiles {
  all: unset;
  background-color: #a5a3a3;
  margin-top: 5vh;
  margin-bottom: 15vh;
  width: 95%;
  min-height: 10vh;
  padding: 20px;
  border-radius: 10px;
}
.readableImg {
  height: 10vw;
  margin: 1vw 5vw;
}
.readableImagesContainer {
  margin-top: 15vh;
}
