body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  background-attachment: fixed;
}

.back {
  position: absolute;
  left: 50px;
  top: 50px;
  text-decoration: none;
  font-size: 25px;
  z-index: 2;
}

.input {
  height: 30px;
  width: 350px;
  display: block;
  font-size: 20px;
  padding: 5px;
  border-radius: 10px;
}
.inputPrice {
  height: 30px;
  width: 150px;
  display: block;
  font-size: 20px;
  padding: 15px;
  border-radius: 10px;
}
.label {
  font-size: 25px;
}
.inputDescription {
  height: 300px;
  width: 600px;
  text-align: left;
  resize: none;
  display: block;
  font-size: 25px;
}
.inputContainer {
  margin: 20px 0px;
}
.button {
  position: absolute;
  right: 50px;
  bottom: 50px;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  font-size: 25px;
}
.title {
  position: absolute;
  top: 100px;
  left: 650px;
  font-size: 50px;
}
.error {
  position: absolute;
  left: 50%-10px;
  bottom: 50px;
  color: red;
  font-size: 20px;
}
.priceValuteCont {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 25px;
}
.subjectCont {
  height: 60px;
}

.select {
  width: 200px;
  height: 30px;
  font-size: 20px;
  margin: 20px 0px;
}

.select option {
  font-size: 20px;
}

.jobTypeCont {
  height: 60px;
}

.form {
  box-shadow: 0px 0px 2px 3px;
  margin: 0;
  width: 800px;
  height: fit-content;
  min-height: 1200px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
  padding: 40px;
  position: relative;
  border-radius: 30px;
  margin-top: 200px;
  margin-bottom: 200px;
  background-color: white;
}

.selectedImagesContainer {
  display: flex;
  flex-wrap: wrap;
  border: solid 2px black;
  padding: 20px;
  margin: 20px;
  margin-bottom: 100px;
}
.selectedImage {
  height: 100px;
  width: 200px;
  padding: 10px;
  margin: 10px 0px;
}
