.container {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.back {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: clamp(1rem, 4vw, 2rem);
}
.postContainer {
  margin-top: 10vh;
  background-color: #d9d9d9;
  height: fit-content;
  min-height: 40vh;
  width: 80vw;
  padding: 5vw;
  box-sizing: border-box;
  box-shadow: 0px 4px 19px 5px rgb(190, 190, 190);
}
.postImgs {
  width: 100%;
  height: 300px;
}
.rateContainer {
  font-size: 3.5em;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 5vw;
  justify-content: space-around;
}
.rateIndex {
  font-size: 0.7em;
}
.userImage {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: left;
}
.userName {
  font-size: clamp(1rem, 4vw, 2rem);
  margin: 1vw;
}
.title {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1rem, 7vw, 3rem);
}
.description {
  width: 80%;
  margin-top: 8vh;
  word-break: break-all;
  font-size: clamp(1rem, 1.5vw, 2rem);
}
.info {
  background-color: yellow;
  margin: 0% 3vw;
  font-size: clamp(1rem, 1vw, 2rem);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vh;
  border-radius: 10px;
}
.allInfos {
  margin-top: 5vh;
  display: flex;
  width: fit-content;
}

.postImgContainer {
  margin-top: 8vh;
}

.postImgs {
  margin: 1vh 0%;
}
.likeContainer {
  display: flex;
  justify-content: end;
  align-items: center;
}
.likeButton {
  padding: 0.5vw;
  border-radius: 10px;
  font-size: clamp(1rem, 1vw, 2rem);
}
.likeNumber {
  font-size: clamp(1rem, 1vw, 2rem);
  margin-right: 1vw;
}
