* {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
/* .homeNav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: antiquewhite;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  z-index: 2;
  border-bottom: solid black 5px;
} */
/* .loginSingupCont {
  margin-left: 50px;
  font-size: 30px;
} */
/* .loginLink {
  text-decoration: none;
}
.singupLink {
  text-decoration: none;
} */

.posts {
  padding: 3em 0;
  width: min-content;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 30%));
  grid-auto-rows: max-content;
  grid-gap: 46px;
}

/* .profilLink {
  margin-left: 100px;
  text-decoration: none;
  font-size: 30px;
} */
.searchBarContainer {
  margin-top: 100px;
  background-color: aqua;
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBarInput {
  width: 500px;
  height: 50px;
  padding: 20px;
  font-size: 20px;
}
/* .resetFilterBtn {
  width: 120px;
  height: 40px;
  position: absolute;
  left: 200px;
  top: 150px;
} */
/* .filterBtn {
  width: 120px;
  height: 40px;
  position: absolute;
  left: 50px;
  top: 150px;
} */
/* .sortBtn {
  width: 120px;
  height: 40px;
  position: absolute;
  right: 50px;
  top: 150px;
} */

/* .profilImg {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-right: 15px;
} */

/* .profilContainer {
  display: flex;
  align-items: center;
  width: 400px;
} */
